@model MdlSeleccionBus

<input type="hidden" value="@TempData["Usuario"]" />


<h4>Reservar</h4>
<div class="row">
    <div>
        <form asp-action="Seleccion">
            <div class="form-group">
                <label asp-for="rutas.IdLugarOrigen" class="control-label">Lugar de Origen</label>
                <select asp-for="rutas.IdLugarOrigen" class="form-select" asp-items="ViewBag.LugarOrigen"></select>
            </div>
            <div class="form-group">
                <label asp-for="rutas.IdLugarDestino" class="control-label">Lugar de Destino</label>
                <select asp-for="rutas.IdLugarDestino" class="form-select" asp-items="ViewBag.LugarDestino"></select>
            </div> 
            <div>
                <label asp-for="Fecha" class="control-label">Seleccione el día que desea viajar</label>
                <input asp-for="Fecha" type="date" class="form-control" value="@ViewData["Fecha"]" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Buscar Horarios" class="btn" asp-action="Seleccion" asp-controller="SeleccionBuses" asp-route-id="@TempData["Usuario"]" style="background-color:#f9a492" />
            </div>
            <br />
        </form>
            @if (ViewData["ValHorario"] == "S")
            {            
            <br>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">
                            Horarios
                        </th>
                        <th class="text-center">
                            Acción
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Lista)
                    {
                        <tr>
                            <td>
                                @item.Hora
                            </td>
                            <td class="text-center">
                                <a asp-action="Create" asp-controller="Reservas" asp-route-id="@TempData["Usuario"]" asp-route-idH="@item.IdHorario" asp-route-valH="@item.Hora" asp-route-valF="@ViewData["Fecha"]">Reservar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            }
            else if (ViewData["ValHorario"] == "N")
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    @TempData["Mensaje"]
                </div>
            }
    </div>
</div>
<br />
<div>
    <a asp-controller="PaginaPrincipal" asp-action="Inicio">Regresar</a>
</div>
